<div class="title">Contact</div>
<div class="title2">Any question or remark? just write us a message.</div>

<input
  type="text"
  style="width: 368px; left: 502px; top: 311px"
  placeholder="First Name"
/>
<input
  type="text"
  style="width: 368px; left: 899px; top: 311px"
  placeholder="Second Name"
/>
<input
  type="text"
  style="width: 763px; left: 504px; top: 407px"
  placeholder="Email :"
/>

<div
  style="
    position: absolute;
    width: 90px;
    height: 24px;
    left: 504px;
    top: 520px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2em;

    color: #ffffff;
  "
>
  Gender
</div>

<input
  style="
    width: 14px;
    height: 14px;
    left: 610px;
    top: 527px;

    background: #c4c4c4;
  "
  type="radio"
  id="Male"
  name="gender"
/>
<label
  style="
    position: absolute;
    width: 58px;
    height: 24px;
    left: 644px;
    top: 523px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2em;

    color: #ffffff;
  "
  for="Male"
  >Male</label
>
<input
  style="
    width: 14px;
    height: 14px;
    left: 724px;
    top: 527px;

    background: #c4c4c4;
  "
  type="radio"
  id="Female"
  name="gender"
/>
<label
  style="
    position: absolute;
    width: 88px;
    height: 24px;
    left: 760px;
    top: 524px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2em;
    color: #ffffff;
  "
  for="Female"
  >Female</label
>
<input
  type="text"
  style="width: 366px; height: 54px; left: 899px; top: 509px"
  placeholder="+91"
/>

<div
  style="
    position: absolute;
    width: 765px;
    height: 57px;
    left: 502px;
    top: 635px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2em;

    color: #ffffff;
  "
>
  What you like in our Design ?
</div>

<input
  style="
    width: 14px;
    height: 14px;
    left: 522px;
    top: 708px;

    background: #c4c4c4;
  "
  type="radio"
  id="Logo"
  name="design"
/>
<label
  style="
    position: absolute;
    width: 64px;
    height: 24px;
    left: 553px;
    top: 704px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2em;

    color: #ffffff;
  "
  for="Logo"
  >Logo</label
>

<input
  style="
    width: 14px;
    width: 14px;
    height: 14px;
    left: 706px;
    top: 708px;

    background: #c4c4c4;
  "
  type="radio"
  id="Poster"
  name="design"
/>
<label
  style="
    position: absolute;
    width: 82px;
    height: 24px;
    left: 743px;
    top: 704px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2em;

    color: #ffffff;
  "
  for="Poster"
  >Poster</label
>

<input
  style="
    width: 14px;
    width: 14px;
    height: 14px;
    left: 899px;
    top: 708px;

    background: #c4c4c4;
  "
  type="radio"
  id="Branding"
  name="design"
/>
<label
  style="
    position: absolute;
    width: 82px;
    height: 24px;
    left: 930px;
    top: 704px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2em;

    color: #ffffff;
  "
  for="Branding"
  >Branding</label
>

<input
  style="
    width: 14px;
    width: 14px;
    height: 14px;
    left: 1083px;
    top: 708px;

    background: #c4c4c4;
  "
  type="radio"
  id="Editing"
  name="design"
/>
<label
  style="
    position: absolute;
    width: 82px;
    height: 24px;
    left: 1114px;
    top: 705px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2em;

    color: #ffffff;
  "
  for="Editing"
  >Editing</label
>

<div
  style="
    box-sizing: border-box;
    position: absolute;
    border: 3px solid #fb470f;
    width: 291px;
    height: 68px;
    left: 974px;
    top: 825px;
  "
></div>
<a
  style="
    position: absolute;
    width: 203px;
    height: 34px;
    left: 1011px;
    top: 843px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    letter-spacing: 0.2em;

    color: #f5c311;
  "
  href=""
  >Contact_Us</a
>
