<div class="title">Skill</div>

<div class="logo_design">Logo Design</div>
<div class="logo_design_line_1"></div>
<div class="logo_design_line_2"></div>
<div class="logo_design_percentage">95%</div>

<div class="manipulation">Image Manipulation</div>
<div class="manipulation_line_1"></div>
<div class="manipulation_line_2"></div>
<div class="manipulation_percentage">98%</div>

<div class="poster">Poster Design</div>
<div class="poster_line_1"></div>
<div class="poster_line_2"></div>
<div class="poster_percentage">90%</div>

<div class="markting">Branding/Marketing</div>
<div class="markting_line_1"></div>
<div class="markting_line_2"></div>
<div class="markting_percentage">95%</div>

<div class="other">Branding/Marketing</div>
<div class="other_line_1"></div>
<div class="other_line_2"></div>
<div class="other_percentage">85%</div>