<img src="../../../assets/personal_photo.webp" alt="" />

<p class="first_para">
  Hello dear, I am Graphic Designer. My love to design poster, logo, id card,
  font, car wraping etc.
</p>

<br />

<p class="second_para">
  I start my Jurney by editing photos, maniputating images. etc. when I was in
  my college. I love creating graph, model for the equation or thesis. I started
  my design carrier from college because my bought my first laptop at that time.
  I am so excited and from there I start my Graphic Design Jurney
</p>

<p class="third_para">
  After 3rd sem of my college I completed my Gaphic Design course from Lakshya
  Institute (dumka, jharkhand(india)). And I started my carrier as a grphic
  designer. At first I design small poster for tutions, schools and some small
  shops or events. Then I join Freelancing at freelancer.com, upwork.com and
  fiverr.com. And I also create my portfolio website so that every one should
  know about me. It takes nearly 1 to 2 month for getting my first work in
  upwork.com.
</p>

<div
  style="
    box-sizing: border-box;

    position: absolute;
    width: 149px;
    height: 40px;
    left: 640px;
    top: 843px;

    border: 2px solid #ffbd13;
  "
></div>
<a class="hire_me" href="">Hire me</a>
<div
  style="
    box-sizing: border-box;

    position: absolute;
    width: 149px;
    height: 40px;
    left: 930px;
    top: 843px;

    border: 2px solid #f3430b;
  "
></div>
<a class="contact" href="#" routerLink="../contact">Contact</a>
