<img src="../../../assets/personal_photo.webp" alt="" />
<div class="name">Allice Max</div>
<div class="hl"></div>

<a routerLink="about-me" class="About" href="#">About</a>
<a routerLink="" class="Skill" href="#">Skill</a>
<a routerLink="" class="Design" href="#">Design</a>
<a routerLink="" class="Preview" href="#">Preview</a>
<a routerLink="" class="Contact" href="#">Contact</a>

<div
  style="
    box-sizing: border-box;
    position: absolute;
    border: 2px solid #ffbd13;
    top: 843px;
    width: 149px;
    height: 40px;
    left: 131px;
  "
></div>
<a class="hire_me" href="">Hire me</a>
<div class="vl"></div>
