<div class="title ti">Designs</div>
<div class="hl"></div>
<div class="box" style="left: 562px; top: 336px"></div>
<div class="box" style="left: 811px; top: 336px"></div>
<div class="box" style="left: 1062px; top: 336px"></div>
<div class="box" style="left: 562px; top: 530px"></div>
<div class="box" style="left: 810px; top: 530px"></div>
<div class="box" style="left: 1063px; top: 530px"></div>
<div class="box" style="left: 562px; top: 715px"></div>
<div class="box" style="left: 810px; top: 715px"></div>
